body{
    font-family: Product Sans;
    font-size: 16px;
    color:white;
    text-decoration:none;
    background-image: url("../../res/img/banner-conent.jpg");
}

.des{
    font-size: 30px;
    color: antiquewhite; 
}

ul{
    list-style-type: none;
}

.back-btn{
    float: right;
}


.card{
    float: left;
    position: relative;
    left: 50%;
}
    
.card-content{
    background-color: rgba(0,0,0,0.5);
    padding:2%;
    border-radius: 10px;
    margin:3%;
    float: left;
    position: relative;
    left: -50%;
}