.main-navbar-custom{
    background: rgba(232,245,233,0.85);
    padding: 1%;
    float: left;
    width:100%;
}

.logo-main{
    font-family: Product Sans;
    color:#4caf50;
    font-size: 40px;
    font-weight: bold;
    float:inherit;
    
}

.ext-links{
    font-size:30px;
    float: inherit;
    color:#4caf50;
}

.link{
    padding: 5px;
    text-decoration:none;
    color:#4caf50;
}

.link:hover{
    color:#1b5e20;
    text-decoration:none;
}

.navbar-btn-custom{
    display: block;
    padding: 5px;
}

.navbar-btn-custom:hover{
    display: block;
    height: 100%;
    float: left;
}

.active{
    color:#1b5e20;
    display: block;
    height: 100%;
    float: left;
}

.content-holder{
    background: rgba(215, 215, 215, 0.85);
    color:#e8f5e9;
    width:40%;

}

.header-txt{
    color:white;
    font-size: 80px;
    font-weight: bold;
}

.footer{
    text-align:center;
    font-size:25px;
    width:100%;
    color:#4caf50;
}

a{
    text-decoration: none;
}

.imgSFT{
    width:100%;
}


.des{
    font-family: Product Sans;
    color:#e8f5e9;
    font-size:30px; 
}

ul{
    list-style-type: none;
}

.back-btn{
    float: right;
}

.footer{
    font-size:25px;
    background-color: rgba(232,245,233,0.9);
    color:#4caf50;
    width:100%;
}

.card{
    float: left;
    position: relative;
    left: 50%;
}
    
.card-content{
    background-color: rgb(76, 175, 80);
    border:2px solid;
    border-color:white;
    padding:2%;
    margin:3%;
    float: left;
    position: relative;
    left: -50%;
    width:18%;
    height:100%;
}

a{
    text-decoration: none;
}

body{
    font-family: Product Sans;
    text-decoration: none;
    background-color:#2962ff;
}