.sft-header{
    background: rgba(232,245,233,0.85);
}

.sft-header-txt{
    color:#4caf50;
    font-size: 80px;
    font-weight: bold;
    float:left;
}

.btn-dload-div{
    float:right;
    margin-top:30px;
    font-size:25px;
}

.btn-dload{
    color:#4caf50;
    border:2px solid #4caf50;
    transition-duration: 0.4s;
    background:rgba(0,0,0,0);
}

.btn-cust{
    color:#e3f2fd;
    border:2px solid #e3f2fd;
    transition-duration: 0.4s;
    background:rgba(0,0,0,0);
}

.btn-cust:hover{
    color:#1976d2;
    transition-duration: 0.4s;
    background-color: #e3f2fd;
}

.btn-farm{
    color:#e3f2fd;
    border:2px solid #e3f2fd;
    transition-duration: 0.4s;
    background:rgba(0,0,0,0);
}

.btn-farm:hover{
    color:#388e3c;
    transition-duration: 0.4s;
    background-color: #e3f2fd;
}

.btn-dload:hover{
    color:#e8f5e9;
    transition-duration: 0.4s;
    background-color: #4caf50
}

.content{
    font-size:30px;
    color:#1b5e20;
    text-align: center;
}

.cust-card{
    font-size:25px;
    color:#e3f2fd;
    background-color:#1976d2;
    float:left;
}

.cust-card-txt{
    padding:40px;
    width:45%;
    float:inherit;
}

.cust-card-img{
    padding-right:40px;
    float:right;
    margin:0px;
}

.farm-card{
    font-size:25px;
    color:#e3f2fd;
    background-color:#388e3c;
    float:right;
}

.farm-card-txt{
    padding:40px;
    width:45%;
    float:inherit;
}

.farm-card-img{
    padding-left:40px;
    float:left;
    margin:0px;
}

.breakspace{
    height:45px;
}

.main-img-img{
    background-image: url("res/img/banner-content.jpg");
    width:100%;
    background-position:bottom;
    background-size: 100% auto;
}

.main-img-txt{
    padding-top:400px;
    padding-bottom:20px;
    font-size:30px;
    color:white;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.the-team{
    font-size:30px;
    color: #1b1b1b;
}

.footer{
    font-size:25px;
    background-color: rgba(232,245,233,0.9);
    color:#4caf50;
    width:100%;
}

.team-img{
    display:block;
    float:left;
    margin:35px;
    width:20%;
}

.team-img-img{
    width:100%;
    display:block;
}

.team-img-txt{
    font-size:20px;
}

.hr-style {
    border: 0;
    height: 55px;
    background-image: url(image/type_5.png);
    background-repeat: no-repeat;
    }

body{
    text-decoration: none;
    background-size: auto 100%;
    font-family: Product Sans;
}