.sft-header{
    background: rgba(0,0,0,0.85);
    padding: 1%;
}

.sft-header-txt{
    color:white;
    font-size: 80px;
    font-weight: bold;
    float:left;
}

.btn-dload{
    float:right;
}


.farm-card{
    width:40%;
    float :left;
    border: 3px solid;
    border-radius:10px;
    margin-left:5%;
    padding: 0.5% 2% 1% 2%;
    border-color: white;
    color:white;
    background-color: rgba(0, 194, 74, 0.5);
    font-size: 25px;
}

.cust-card{
    width:40%;
    float :right;
    border: 3px solid;
    border-radius:10px;
    margin-right:5%;
    padding: 0.5% 2% 1% 2%;
    border-color: white;
    color:white;
    background-color: rgba(0, 45, 194, 0.5);
    font-size: 25px;
}

.footer{
    background: rgba(0,0,0,0.85);
    padding: 1%;
    font-size:15px;
    position: relative;
    bottom: 0%;
    width:100%;
    color:white;

}

.btn-dload:hover{
    float:right;
    background-color: #33691e;
    border-color: #33691e;
}

.btn-farm:hover{
    background-color:#46b600;
    border-color: #46b600;
}

.btn-cust:hover{
    background-color: #2962ff;
    border-color: #2962ff;
}

.content-holder{
    background: rgba(0,0,0,0.7);
    padding: 1%;
    width:90%;
    border-radius: 5px;
    padding:3%;
}

.content{
    font-size:30px;
    color:white;
}

button{
    border: 3px solid;
    border-radius:10px;
    margin: 2%;
    padding: 0.5% 2% 1% 2%;
    border-color: white;
    color:white;
    background-color: rgba(0,0,0,0.7);
    font-size: 30px;
    transition-duration: 0.7s;
}

body{
    text-decoration: none;
    background-image: url("res/img/banner-content.jpg");
    font-family: Product Sans;
}