.main-navbar-custom{
    background: rgba(0,0,0,0.85);
    padding: 1%;
    float: left;
    width:100%;
}

.logo-main{
    color:white;
    font-size: 40px;
    float:inherit;
    
}

.ext-links{
    font-size:30px;
    float: inherit;
    color:white;
}

.link{
    padding: 5px;
    text-decoration:none;
    color:white;
}

.link:hover{
    color:gray;
    text-decoration:none;
}

.navbar-btn-custom{
    display: block;
    padding: 5px;
}

.navbar-btn-custom:hover{
    display: block;
    height: 100%;
    float: left;
}

.active{
    color:gray;
    display: block;
    height: 100%;
    float: left;
}

.submit-btn{
    border: 3px solid;
    border-radius:10px;
    margin: 2%;
    padding: 2% 10% 2% 10%;
    border-color: white;
    color:white;
    background-color: rgba(0,0,0,0.7);
    font-size: 30px;
    transition-duration: 0.7s;
}

.content-holder{
    background: rgba(0,0,0,0.7);
    padding: 1%;
    width:40%;
    border-radius: 5px;
    padding:3%;
    border: 3px solid;
    border-color: white;
}

.header-txt{
    color:white;
    font-size: 80px;
    font-weight: bold;
}

.submit-btn:hover{
    background-color: #33691e;
    border-color: #33691e;
}

body{
    font-family: Product Sans;
    text-decoration: none;
    background-image: url("../../res/img/banner-content.jpg");
}

a{
    text-decoration: none;
}

input[type=email] {
    width: 100%;
    position: relative;
    padding: 12px 20px;
    border: thin solid;
    border-color:white;
    background-color: rgba(0,0,0,0.7);
    box-sizing: border-box;
    border-radius:0px;
  } 

input[type=password] {
    width: 100%;
    position: relative;
    padding: 12px 20px;
    border: thin solid;
    border-color:white;
    background-color: rgba(0,0,0,0.7);
    box-sizing: border-box;
    border-radius:0px;
  } 

input[type=email]:focus {
      background-color: #46b600;
      color:white;
      border-color:white;
  }

input[type=password]:focus {
    background-color: #2962ff;
    color:white;
    border-color:white;
}